# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs & generated build setup files
dist/
release/
build/
generate-icon.js
cascading_logo.svg
src/renderer/public/cascading_logo.svg

# Temp files
*.log
*.tmp

# OS metadata
.DS_Store
Thumbs.db
