@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #181b20;
}

::-webkit-scrollbar-thumb {
  background: #2b323e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #478cbf;
}
